# List Comprehension:

### 1) Easy: Create a list comprehension that generates a list of squares of numbers from 1 to 10.
Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
x=[ele**2 for ele in range(0,11)]
x

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 2)Medium: Given a list of words, create a list comprehension to filter out words that are longer than 5 characters.
Input: ['apple', 'banana', 'cherry', 'date', 'elderberry']

Output: ['apple', 'cherry', 'date']

In [6]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
y= [i for i in fruits if len(i) <=5]
print(y)

['apple', 'date']

# Lists:

### 1)Easy: Create a list containing the numbers 1 to 5 and then append the number 6 to it.
Output: [1, 2, 3, 4, 5, 6]

In [7]:
num=[1,2,3,4,5]
num.append(6)
print(num)

[1, 2, 3, 4, 5, 6]

### 2)Medium: Given two lists, merge them into a single list without duplicates.
Input:
List 1: [1, 2, 3, 4]

List 2: [3, 4, 5, 6]

output: [1, 2, 3, 4, 5, 6]

In [8]:
a=[1, 2, 3, 4]
b=[3, 4, 5, 6]
c=list(set(a+b))
print(c)

[1, 2, 3, 4, 5, 6]

# Map:

### 1)Easy: Use the map function to double each element in a list.
Input: [1, 2, 3, 4, 5]

Output: [2, 4, 6, 8, 10]

In [9]:
x=[1,2,3,4,5]
y=list(map(lambda x:x*2,x))
print(y)

[2, 4, 6, 8, 10]

### 2)Medium: Use the map function to convert a list of strings to uppercase.
Input: ['apple', 'banana', 'cherry']
    
Output: ['APPLE', 'BANANA', 'CHERRY']

In [13]:
fruits = ['apple','banana','cherry']
upper = lambda x:x.upper()
result= map(upper,fruits)
print(list(result))

['APPLE', 'BANANA', 'CHERRY']

# Filter:

### 1)Easy: Use the filter function to get all even numbers from a list.
Input: [1, 2, 3, 4, 5, 6]
    
Output: [2, 4, 6]

In [14]:
a = [1,2,3,4,5,6]
b = lambda x: True if x%2 ==0 else False
c= list(filter(b, a))
c

[2, 4, 6]

### 2)Medium: Use the filter function to get all words from a list that start with the letter 'b'.
Input: ['apple', 'banana', 'cherry', 'blueberry', 'date']

Output: ['banana', 'blueberry']

In [15]:
x = ['apple', 'banana', 'cherry', 'blueberry', 'date']
y = lambda x: True if x.startswith('b') else False
z = list(filter(y, x))
z

['banana', 'blueberry']

# Functions:

### 1)Easy: Write a function called add that takes two numbers as input and returns their sum.
Input: add(3, 4)

Output: 7

In [16]:
def add(x,y):
    return x+y
add(3,4)

7

### 2)Medium: Write a function called calculate_average that takes a list of numbers as input and returns the average (mean) of those numbers.

Input: calculate_average([1, 2, 3, 4, 5])

Output: 3.0

In [17]:
def average(x):
    print(sum(x)/len(x))
average([1,2,3,4,5])

3.0